
MYSQL_ROOT_PASSWORD=RootPassword123!
DB_USERNAME=innovatech_user
DB_PASSWORD=InnovatechPass456!
DB_NAME_DESPACHOS=despachos_db
DB_NAME_VENTAS=ventas_db
BACKEND_DESPACHOS_HOST=10.0.133.70
BACKEND_VENTAS_HOST=10.0.149.255